mixin modal()
	.modal.fade(id="tuned" tabindex="-1" role="dialog")
		.modal-dialog
			.modal-content
				button.close.icon-cancel(type="button" data-dismiss="modal")
				.modal-body
					.modal-title Subscribe to the project updates
					form.modal-form.form(action="https://ptoken.us16.list-manage.com/subscribe/post-json?u=1a7d927f4a202d0e498d9d6f0&id=6cd2b7a722" method="get")
						input(type="email" placeholder="Your E-mail" value="" name="EMAIL")
						button.button(type="submit") Stay Tuned!
							span
						.subscribe-result
	.modal.fade(id="video" tabindex="-1" role="dialog")
		.modal-dialog
			.modal-content
				button.close.icon-cancel(type="button" data-dismiss="modal")
				.modal-body
					.modal-video
						iframe.modal-iframe
