mixin how-work()
	+b.SECTION.how-work.rotate.shadow(id="how-work")
		+e.IMG.image(src="images/background-shapes.svg" alt="Shapes")
		.corner-right
		.container
			.row
				.col-md-10.col-md-offset-1
					h2.text-center How it works
						strong .
					+e.P.title-desk.text-center BitRewards solutions allows shoppers to receive rewards and rebates in the form of BitRewards tokens (BRW), for their purchases and for purchases of their friends.
				.col-md-12
					+b.steps
						+e.IMG.line(src="images/line.svg" alt="line")
						+e.UL.list
							+e.LI.item
								+e.number 1
								+e.H4.title Customers make purchases
								+e.desk With any merchants who is a member of Bitrewards.Network
							+e.LI.item
								+e.number 2
								+e.H4.title Merchants give to the customers rewards denominated in BitRewards tokens
								+e.desk (as a percentage of purchases, replacing traditional loyalty points)

								+e.desk The merchants buy BitRewards tokens through Bitrewards.Network or at the Crypto Exchange. This drives the demand for BRW tokens up.
							+e.LI.item
								+e.number 3
								+e.H4.title Customers hold BRW tokens or redeem with any BitRewards.Network merchants
								+e.desk They don’t spend their BRW tokens immediately as they expect the exchange rate to grow. This drives the supply of BRW tokens down.
				.col-md-10.col-md-offset-1
					+e.bottom-desk
						h3.text-center BRW token's price is set for organic growth.
						p.text.text-center The issuance is limited to 2 billion tokens, and <br /> with the demand going up and limited supply, BRW exchange rate has fundamental <br /> reasons to appreciate * .
						p.disclaimer * Disclaimer: The information contained herein does not constitute investment advice, the solicitation of any offer to buy any interests or make any investments, or any claims as to the performance of BRW tokens or Bitrewards.Network project.
