.navigation {
	padding: 1rem 0 0 0;
	position: absolute;
	width: 100%;
	transition: 0.4s;
	&.fixed {
		position: fixed;
		background-color: $dark-indigo-two;
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
		padding-bottom: 1rem;
		z-index: 10;
	}
	&__menu {
		display: flex;
		align-items: center;
		margin-top: 1.3rem;
	}
	&__nav-list {
		display: flex;
		list-style: none;
		margin-bottom: 0;
		position: relative;
		left: -2rem;
	}
	&__nav-item {
		margin: 0 1.2rem;
		position: relative;
		&:hover {
			a {
				text-decoration: none;
				color: $pastel-orange;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 0.6rem;
			height: 0.6rem;
			border-radius: 50%;
			background-color: $dusty-orange;
			bottom: -2rem;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			transition: opacity 0.4s;
		}
		a {
			color: $cloudy-blue;
			font-size: 1.4rem;
			transition: color 0.4s;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__nav-item--active {
		&:before {
			opacity: 1;
		}
		a {
			color: $white;
		}
	}
	&__language {
		flex-grow: 1;
		text-align: center;
		position: relative;
	}
	&__language-active {
		font-size: 1.3rem;
		color: $cloudy-blue;
		transition: color 0.4s;
		cursor: pointer;
		text-transform: uppercase;
		margin-bottom: 0;
		margin-top: 0.5rem;
		margin-right: 0.8rem;
		display: inline-block;
		&:before {
			content: '';
			bottom: -1.5rem;
			background-color: $white;
			position: absolute;
			left: 50%;
			transform: translateX(-100%);
			border-radius: 50%;
			width: 0.6rem;
			height: 0.6rem;
		}
		&:hover {
			color: $pastel-orange;
		}
	}
	&__language-list {
		list-style: none;
		background-color: $dark-indigo;
		border-radius: 1.4rem;
		padding: 2.8rem 2.8rem 2.2rem 2.8rem;
		margin-bottom: 0;
		position: absolute;
		top: 4.8rem;
		left: -0.8rem;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s;
		z-index: 5;
	}
	&__language-list--open {
		opacity: 1;
		visibility: visible;
	}
	&__language-item {
		color: $cloudy-blue;
		font-size: 1.3rem;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 0.6rem;
		transition: color 0.4s;
		&:hover {
			color: $pastel-orange;
		}
	}
	&__logo {
		width: 22rem;
	}
}
