mixin navigation()
	+b.navigation
		.container
			.row
				.burger-menu.hidden-md.hidden-lg
					.burger-click-region
						span.burger-menu-piece
						span.burger-menu-piece
						span.burger-menu-piece
				.col-md-3
					+e.logo
						img(src="images/logo-color.svg" alt="logo")
				.col-md-7.menu-wrapper
					+e.menu
						+e.nav-list.UL
							+e.nav-item.LI
								a.scroll(href="#how-work") How it work
							+e.nav-item.LI
								a.scroll(href="#value") Great Value
							+e.nav-item.LI
								a.scroll(href="#benefits") Benefits
							+e.nav-item.LI
								a.scroll(href="#tokens-offering") Tokens Offering
							+e.nav-item.LI
								a.scroll(href="#team") Team
							+e.nav-item.LI
								a.scroll(href="#advisors") Advisers
							+e.nav-item.LI
								a.scroll(href="#roadmap-section") Roadmap
							+e.nav-item.LI
								a(href="#") Blog
						+e.language
							+e.language-active.P en
							+e.UL.language-list
								+e.LI.language-item EN
								+e.LI.language-item CN
								+e.LI.language-item RU
				.col-md-2.hidden-xs.hidden-sm
					button.button.button-nav WHITEPAPER
						span
