include ../leadership/leadership
include ../other-member/other-member
include ../advisors/advisors

mixin team()
	+b.SECTION.team.rotate(id="team")
		+e.reverse
			+leadership
			+other-member
			+advisors
