mixin other-member()
	+b.other-member-section.rotate
		.container
			.row
				.col-md-12
					h2.text-center Other team members
						strong .
					+b.UL.other-member(id="other-member")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")
						+e.LI.item
							+e.avatar.zytsar
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="#" tragte="_blank")

