mixin other-member()
	+b.other-member-section.rotate
		.rectangle
		.container
			.row
				.col-md-12
					h2.text-center Other team members
						strong .
					+b.UL.other-member(id="other-member")
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.zytsar
								+e.active-avatar.zytsar-active
							+e.about
								+e.H3.name Svyatoslav Zytsar
								+e.P.position Frontend engineer
								+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/zytsar-svyatoslav-187660a9/" tragte="_blank")
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.litkevich
								+e.active-avatar.litkevich-active
							+e.about
								+e.H3.name Maxim Litkevich
								+e.P.position Technical support engineer
								+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/maksim-litkevich-131227151/" tragte="_blank")
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.kulitskiy
								+e.active-avatar.kulitskiy-active
							+e.about
								+e.H3.name Sergey Kulitskiy
								+e.P.position Backend developer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.kurkin
								+e.active-avatar.kurkin-active
							+e.about
								+e.H3.name Vasily Kurkin
								+e.P.position Fullstack engineer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.gizi
								+e.active-avatar.gizi-active
							+e.about
								+e.H3.name Nail Gazizyanov
								+e.P.position Chat-bot, machine learning engineer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.edinin
								+e.active-avatar.edinin-active
							+e.about
								+e.H3.name Sergey Edinin
								+e.P.position Backend developer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.roman-mukh
								+e.active-avatar.roman-mukh-active
							+e.about
								+e.H3.name Roman Mukhutdinov
								+e.P.position Frontend engineer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.evgeniy-ahmetg
								+e.active-avatar.evgeniy-ahmetg-active
							+e.about
								+e.H3.name Evgheniy Ahmetgareev
								+e.P.position Network security engineer
						+e.LI.item
							+e.avatar-wrapper
								+e.avatar.ramil-zayneev
								+e.active-avatar.ramil-zayneev-active
							+e.about
								+e.H3.name Ramil Zayneev
								+e.P.position Fullstack engineer
