.pre-sale {
	position: relative;
	padding: 11.8rem 0 15rem 0;
	z-index: 2;
	.container {
		position: relative;
		z-index: 3;
	}
	.cornet-left {
		border-top: 16.5rem solid $dark-slate-blue;
		border-right: 98vw solid transparent;
		top: -10rem;
		z-index: 5;
		@media (max-width: $tablet) {
			border-right: 40rem solid transparent;
			top: -6rem;
			transform: rotate(8deg);
		}
	}
	&__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		@media (max-width: $tablet) {
			top: 70%;
		}
	}
	&__rectangle {
		background-image: linear-gradient(to bottom, $dark-blue-grey, $dark-indigo-two);
		height: 110%;
		position: absolute;
		width: 100%;
		left: 0;
		top: -10%;
		@media (max-width: $tablet) {
			width: calc(100% + 1px);
			left: -1px;
		}
	}
	h2 {
		margin-bottom: 6rem;
		@media (max-width: $tablet) {
			line-height: 7.2rem;
			margin-bottom: 5.4rem;
		}
	}
	&__desk {
		text-align: center;
		font-size: 3.2rem;
		font-weight: 300;
		color: $white;
		margin: 4rem 0 5rem 0;
		@media (max-width: $tablet) {
			font-size: 2.6rem;
			line-height: 5rem;
		}
	}
	.button {
		margin: 0 auto;
		padding-left: 5.2rem;
		padding-right: 5.2rem;
	}
}

.table-step {
	background-color: $dark-slate-blue;
	padding: 2.5rem 9%;
	border-radius: 1.2rem;
	@media (max-width: $tablet) {
		padding: 2.5rem 1.5rem 3.5rem 1.5rem;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		flex-grow: 1;
		display: flex;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid $white-50;
		padding: 2.5rem 0;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			padding: 2.7rem 0;
		}
		p,
		h4 {
			width: 50%;
			margin: 0;
			@media (max-width: $tablet) {
				width: 100%;
			}
		}
		p {
			text-align: right;
			padding-right: 1.5rem;
			color: $bluey-grey;
			letter-spacing: 0.025em;
			@media (max-width: $tablet) {
				padding-right: 0;
				text-align: center;
			}
		}
		h4 {
			padding-left: 1.5rem;
			letter-spacing: 0.025em;
			color: $white;
			font-size: 1.8rem;
			font-weight: normal;
			text-transform: uppercase;
			@media (max-width: $tablet) {
				padding-left: 0;
				text-align: center;
				font-size: 1.7rem;
			}
		}
	}
	&__table-desk {
		font-size: 2.6rem;
		font-weight: 300;
		letter-spacing: 0.025em;
		text-align: center;
		color: $white;
		margin-bottom: 0;
		padding: 0.7rem 0 1.1rem 0;
		@media (max-width: $tablet) {
			font-size: 2.4rem;
		}
	}
}
