mixin pre-sale()
	+b.SECTION.pre-sale.shadow.rotate
		+e.rectangle
		.container
			.row
				.col-md-8.col-md-offset-2
					h2.text-center Participate In The Initial BitRewards Tokens Offering
						strong .
				.col-md-10.col-md-offset-1
					+b.table-step
						+e.UL.list
							+e.LI.item
								p Open sale start date
								h4 To Be Defined
							+e.LI.item
								p Total funding targeted
								h4 To be Announced
							+e.LI.item
								p Soft-cap
								h4 $3 000 000
							+e.LI.item
								p Hard-cap
								h4 To Be Announced
							+e.LI.item
								p Use of funds
								h4 product development & global scaling
						+e.P.table-desk ERC20 ETHEREUM TOKEN
					+e.P.desk We offer exceptional pre-sale program for interested token buyers.
					button.button Join PRE-SALE
						span
