.subscribe {
	h2 {
		margin: 25.5rem 0 5.5rem 0;
	}
}

.form {
	&__desk {
		font-size: 3.2rem;
		font-weight: 300;
		text-align: center;
		color: $white-60;
		margin-bottom: 4.6rem;
	}
	&__field-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__field {
		height: 5.6rem;
		border-radius: 2.8rem;
		width: 42rem;
		background-color: $dark-blue-grey-two;
		border: solid 1px $dusty-orange;
		position: relative;
		right: -5rem;
		z-index: 3;
	}
	.button {
		padding: 1.7rem 4rem 1.7rem 9rem;
	}
}
