// *****************************************************************************
// Main styles
// *****************************************************************************

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $main-font;
}

body.menu-open {
	overflow: hidden;
}

h1 {
	font-size: 6rem;
	font-weight: 600;
	color: $white;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	line-height: 7.2rem;
	@media (max-width: $tablet) {
		font-size: 5.4rem;
		line-height: 6.4rem;
		width: 100%;
	}
}

h2 {
	font-size: 6rem;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: $white;
	@media (max-width: $tablet) {
		font-size: 5.4rem;
	}
}

h3 {
	color: $white;
	font-size: 4rem;
	font-weight: 600;
	@media (max-width: $tablet) {
		font-size: 3.6rem;
		line-height: 4rem;
	}
}

h4 {
	color: $white;
	font-weight: 600;
	font-size: 2.6rem;
}

a {
	font-size: 1.6rem;
}

a:focus,
a:active,
a:hover {
	text-decoration: none;
}

p {
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
p,
a,
span,
li {
	strong {
		font-weight: 600;
		color: $pinkish-orange;
	}
}

.container {
	width: auto;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.rotate {
	transform: skewY(-1.5deg);
	@media (max-width: $tablet) {
		transform: skewY(-6deg);
	}
	.container {
		transform: skewY(1.5deg);
		@media (max-width: $tablet) {
			transform: skewY(6deg);
		}
	}
}

.rotate-2 {
	transform: skewY(2.8deg);
	.container {
		transform: skewY(-2.8deg);
	}
}

.shadow {
	box-shadow: 17.7px 50px 100px 0 rgba(0, 0, 0, 0.2);
}

.slick-list {
	.slick-loading & {
		background: none;
	}
}

@include placeholder {
	font-size: 1.5rem;
	text-align: center;
	color: $white-50;
	text-transform: uppercase;
}

/* Scroll */

.jspVerticalBar {
	width: 0.6rem;
	background-color: transparent;
}

.jspTrack {
	border-radius: 3px;
	background-color: $white-20;
}

.jspDrag {
	border-radius: 3px;
	background-color: $white-30;
}

.corner-right {
	width: 0;
	height: 0;
	border-top: 11.5rem solid $dark-indigo-four;
	border-left: 94.5rem solid transparent;
	position: absolute;
	top: 0;
	right: 0;
	@media (max-width: $tablet) {
		border-top: 14vw solid $dark-indigo-four;
		border-left: 69vw solid transparent;
	}
}

.cornet-left {
	width: 0;
	height: 0;
	border-top: 11.5rem solid red;
	border-right: 94.5rem solid transparent;
	position: absolute;
	top: 0;
	left: 0;
}

input {
	font-size: 1.5rem;
	text-align: center;
	color: $white-50;
}

.slick-dots {
	bottom: -3.5rem;
}

.slick-dots li {
	width: auto;
}

.slick-dots .slick-active button {
	background-color: $white;
}

.slick-dots li button {
	padding: 0;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: $twilight;
	transition: background-color 0.4s;
	&:hover,
	&:active {
		background-color: $white;
	}
	&:before {
		content: none;
	}
}

