mixin scheme()
	+b.SECTION.scheme.rotate.shadow
		.rectangle
		.container
			.row
				+e.steps.clearfix
					.col-md-5
						+e.H3.title Buying becomes mining
						+e.P.about Customers are rewarded for their and their friends' purchases with BitRewards tokens, which are credited directly to their crypto-wallets.
						button.button <img src="images/forma-1.svg" alt="play" /> Watch how to earn BRW
							span
					.col-md-6.col-md-offset-1
						+e.IMG.animation(src="../images/animation-1.gif" alt="Animations")
				+e.steps.steps-reverse.clearfix
					.col-md-5.col-md-offset-2
						+e.H3.title ..and it is super easy to redeem BRW tokens
						+e.P.about Customers can redeem BRW tokens with all platform merchants or exchange BRW into other currency on a Crypto Exchange or via Liquidity Smart Contract.
						button.button <img src="images/forma-1.svg" alt="play" /> Watch how to redeem BRW
							span
					.col-md-5
						+e.IMG.animation(src="images/animation-2.gif" alt="Animations")
