.advisors {
	transform: skewY(2.5deg);
	padding-bottom: 14rem;
	background-color: $member-bg;
	position: relative;
	z-index: 3;
	h2 {
		margin: 7.5rem 0 5.8rem 0;
	}
	.rectangle {
		background-color: $member-bg;
		position: absolute;
		height: 8rem;
		top: -7.5rem;
		left: 0;
		width: 100%;
	}
	.container {
		transform: skewY(-2.5deg);
	}
	&__container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		width: 90%;
		margin: 0 auto;
	}
	&__title {
		margin: 7rem 0;
	}
	&__persone {
		flex-grow: 1;
		margin: 0 1.5rem;
		margin-bottom: 2.5rem;
		width: calc(33.333333% - 3rem);
		height: 34.8rem;
		box-shadow: 0 18px 100px -35px rgba(0, 0, 0, 0.75);
		position: relative;
		overflow: hidden;
		&:first-child {
			margin-left: 0;
		}
		&:nth-child(4n+4) {
			margin-right: 0;
		}
		&:nth-child(5n+5) {
			margin-left: 0;
		}
	}
	&__wrapper {
		height: 100%;
		text-align: center;
		overflow: hidden;
		position: relative;
		z-index: 1;
		&:hover {
			.advisors__main-info {
				transform: translateX(-100%);
			}
			.advisors__description {
				transform: translateX(0);
			}
		}
		&:before {
			content: '';
			position: absolute;
			background: url(../images/dots.png);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}
	&__main-info {
		transition: transform 0.3s ease-in;
	}
	&__description {
		height: 100%;
		padding: 2.5rem 2.5rem 0 2.5rem;
		position: absolute;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}
	&__text-wrapper {
		height: calc(100% - 6rem);
		overflow: auto;
	}
	&__about {
		font-size: 1.6rem;
		text-align: left;
		color: $white-80;
	}
	&__social {
		position: absolute;
		font-size: 1.8rem;
		color: $white-40;
		bottom: 2rem;
		right: 2rem;
	}
	&__avatar {
		margin: 4.5rem auto 0 auto;
	}
	&__name {
		font-size: 2rem;
		color: $white;
		margin-bottom: 0;
	}
	&__position {
		font-size: 1.6rem;
		color: $white-40;
		margin-bottom: 0;
	}
}

/* Background */

.egorov {
	background-image: url(../images/ae.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Avatar team */

.advisors__avatar {
	&.egorov-avatar {
		width: $ae_avatar_width;
		height: $ae_avatar_height;
	}
}

.egorov-avatar {
	background-image: url($ae_avatar_image);
	background-position: $ae_avatar_offset_x $ae_avatar_offset_y;
}
