mixin advisors()
	+b.advisors.shadow(id="advisors")
		.rectangle
		.container
			.row
				.col-md-12
					+e.H2.title.text-center Advisors
						strong .
				.col-md-10.col-md-offset-1
					+e.UL.container(id="advisors")
						+e.LI.persone
							+e.wrapper.jm
								+e.main-info
									+e.dots
									+e.avatar.jm-avatar
									+e.P.name John McNaughton
									+e.P.position Payments processing and finance advisor
								+e.description
									+e.text-wrapper
										+e.P.about A well known global international banker with more than 25 years of experience in international finance and payment systems. C-level executive for a number of financial institutions in Great Britain.
						+e.LI.persone
							+e.wrapper.ag
								+e.main-info
									+e.dots
									+e.avatar.ag-avatar
									+e.P.name Alexey Gritsyna
									+e.P.position Business Development, E-commerce
								+e.description
									+e.text-wrapper
										+e.P.about Alexey is an entrepreneur and investor that operates out of the United States. With a degree in Economics and extensive experience in the US medium size business sales, production, and marketing, he not only brings deep knowledge of the US e-commerce niche, but also great passion and enthusiasm for the cutting edge technologies in that space and beyond.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/alexeygritsyna/" target="_blank")
						+e.LI.persone
							+e.wrapper.ia
								+e.main-info
									+e.dots
									+e.avatar.ia-avatar
									+e.P.name Ivan Anichkov
									+e.P.position Enterprise solutions, Data Expert
								+e.description
									+e.text-wrapper
										+e.P.about Expertise driven, strategic business development and management professional with over 10 years experience in new business and technology ventures, complex projects in a variety of industries and application domains.
