mixin benefits()
	+b.SECTION.benefits.shadow.rotate-2
		+e.rectangle
		.container
			.row
				.col-md-12
					h2.text-center Benefits for token holders
						strong .
				.col-md-10.col-md-offset-1
					+e.item
						+e.icon.icon-risk
						h3 Low​ ​risk
						+e.text
							p Low risk due to the proven solution — BitRewards is based on the existing rewards and loyalty system from an innovative market leader with a proven success record in hundreds of online stores.
							p Learn more about the full list of the <strong>proven tools to Attract, Convert and Upsell</strong>
					+e.item
						+e.icon.icon-market
						h3 ​Huge​ ​market
						+e.text
							p The market for loyalty programs is growing and will reach $4 billion by 2020 ( <strong>"Loyalty Management Market”</strong> report by <strong>MarketsAndMarkets</strong> ), with more than $50 billion loyalty points issued globally each year.
						+b.UL.result-table
							+e.LI.item
								p Loyalty market 2017
								p.number $3B
							+e.LI.item
								p CAGR
								p.number >
								p.number 20%
							+e.LI.item
								p Over​ ​
								p.number 80%​ ​
								p of the customers
								p participate in loyalty
								p programs
					+e.item
						+e.icon.icon-api
						h3 Powerful API
						+e.text
							p The BitRewards solution is compatible with most existing e-commerce platforms. It is easy to implement and has a simple API.
							h4 For any device. On any platform.
						+b.UL.platform
							+e.LI.item
								+e.image
									.wordpress
								+e.title WordPress
							+e.LI.item
								+e.image
									.magento
								+e.title Magento
							+e.LI.item
								+e.image
									.joomla
								+e.title Joomla
							+e.LI.item
								+e.image
									.opencart
								+e.title OpenCart
							+e.LI.item
								+e.image
									.shopify
								+e.title Shopify
							+e.LI.item
								+e.image
									.nethouse
								+e.title Nethouse
							+e.LI.item
								+e.image
									.unisender
								+e.title Unisender
							+e.LI.item
								+e.image
									.mailchimp
								+e.title Mailchimp
							+e.LI.item
								+e.image
									.google-analytics
								+e.title Google<br /> Analics
							+e.LI.item
								+e.image
									.bitrix
								+e.title 1C-Bitrix
							+e.LI.item
								+e.image
									.insales
								+e.title InSales
					+e.item
						+e.icon.icon-blockchain
						h3 Cutting Edge Blockchain Technology
						+b.UL.technology
							+e.LI.item
								+e.logo.raiden
								+e.H4.title Lightning Network and Raiden Network
								+e.P.text super technologies designed to bring the speed and efficiency of blockchain transactions to the new level and reduce the cost to almost zero. We will use them as soon as their production versions are deployed and tested.
							+e.LI.item
								+e.logo.bancor
								+e.H4.title Bancor Liquidity Contract
								+e.P.text a solution that will provide the immediate liquidity of BitRewards tokens, which will always be exchangeable into ETH with the best possible spread.

