mixin benefits()
	+b.SECTION.benefits.shadow.rotate-2(id="benefits")
		+e.rectangle
		.container
			.row
				.col-md-12
					h2.text-center Benefits for token holders
						strong .
				.col-md-10.col-md-offset-1
					+e.item
						+e.icon.icon-risk
						h3 Low​ ​risk
						+e.text
							p Low risk due to the proven solution — BitRewards is based on the existing rewards and loyalty system from an innovative market leader with a proven success record in hundreds of online stores.
							p Learn more about the full list of the <strong>proven tools to Attract, Convert and Upsell</strong>
					+e.item.second-item
						+e.icon.icon-market
						h3 ​Huge​ ​market
						+e.text
							p The market for loyalty programs is growing and will reach $4 billion by 2020 ( <strong>"Loyalty Management Market”</strong> report by <strong>MarketsAndMarkets</strong> ), with more than $50 billion loyalty points issued globally each year.
						+b.UL.result-table
							+e.LI.item
								p Loyalty market 2017
								p.number $3B
							+e.LI.item
								p CAGR
								p.number >
								p.number 20%
							+e.LI.item
								p Over​ ​
								p.number 80%​ ​
								p of the customers
								p participate in loyalty
								p programs
					+e.item
						+e.icon.icon-api
						h3 Powerful API
						+e.text
							p The BitRewards solution is compatible with most existing e-commerce platforms.<br /> It is easy to implement and has a simple API.
							h4 For any device. On any platform.
						+b.UL.platform
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new -30.7 355.6 130 130" version="1.1" viewBox="-30.7 355.6 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="m-18.3 420.6c0 20.8 12.1 38.8 29.6 47.3l-25.1-68.7c-2.9 6.6-4.5 13.8-4.5 21.4z" fill="#0087BE"/>
										<path d="m69.7 418c0-6.5-2.3-11-4.3-14.5-2.7-4.3-5.2-8-5.2-12.3 0-4.8 3.7-9.3 8.8-9.3h0.7c-9.3-8.6-21.8-13.8-35.5-13.8-18.4 0-34.5 9.4-43.9 23.7 1.2 0 2.4 0.1 3.4 0.1 5.5 0 14-0.7 14-0.7 2.8-0.2 3.2 4 0.3 4.3 0 0-2.8 0.3-6 0.5l19.1 56.9 11.5-34.5-8.1-22.4c-2.8-0.2-5.5-0.5-5.5-0.5-2.8-0.2-2.5-4.5 0.3-4.3 0 0 8.7 0.7 13.8 0.7 5.5 0 14-0.7 14-0.7 2.8-0.2 3.2 4 0.3 4.3 0 0-2.9 0.3-6 0.5l19 56.5 5.2-17.5c2.4-7.3 4.1-12.5 4.1-17z" fill="#0087BE"/>
										<path d="m35.2 425.2l-15.8 45.8c4.7 1.4 9.7 2.1 14.8 2.1 6.1 0 12-1.1 17.5-3-0.1-0.2-0.3-0.5-0.4-0.7l-16.1-44.2z" fill="#0087BE"/>
										<path d="m80.4 395.4c0.2 1.7 0.4 3.5 0.4 5.4 0 5.3-1 11.3-4 18.8l-16.1 46.4c15.6-9.1 26.1-26 26.1-45.4 0-9.1-2.3-17.7-6.4-25.2z" fill="#0087BE"/>
										<path d="m34.3 359.4c-33.8 0-61.3 27.5-61.3 61.3s27.5 61.3 61.3 61.3 61.3-27.5 61.3-61.3c-0.1-33.9-27.6-61.3-61.3-61.3zm0 119.7c-32.2 0-58.5-26.2-58.5-58.5 0-32.2 26.2-58.5 58.5-58.5 32.2 0 58.5 26.2 58.5 58.5-0.1 32.3-26.3 58.5-58.5 58.5z" fill="#0087BE"/>
										</svg>
									+e.title WordPress
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 0 0 130 130" version="1.1" viewBox="0 0 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="M71.9,40.3v70.2l-6.9,4.2l-6.9-4.2V40.4l-17.9,11v60L65,126.6l25-15.3v-60L71.9,40.3z M65,3.4L12.8,35v60   l13.5,8V43L65,19.5l38.7,23.4l0.2,0.1l0,59.9l13.4-7.9V35L65,3.4z" fill="#F37B20"/>
										<path d="M117.2,35L65,3.4L12.8,35l13.5,8L65,19.5L103.8,43L117.2,35z M71.9,40.3v22.1L90,51.4L71.9,40.3z    M40.2,51.4l17.9,10.9V40.4L40.2,51.4z" fill="#FAB37C"/>
										</svg>
									+e.title Magento
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new -106 355.9 130 130" version="1.1" viewBox="-106 355.9 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="m16.5 378.9c0-8.4-6.8-15.2-15.2-15.2-7.6 0-14 5.7-15 13-0.1-0.1-0.2-0.1-0.2-0.1-12.4-5.6-22.8 4.3-22.8 4.3l-27.6 27.8 10.9 10.5 22.2-21.8c10.4-10.4 16-3.4 16-3.4 7.8 6.6 0.3 14.4 0.3 14.4l11.2 10.8c9.1-9.9 9.7-18.5 6.9-25.3 7.6-0.9 13.3-7.2 13.3-15" fill="#F9AE41"/>
										<path d="m3.4 448.6c0.1-0.1 0.1-0.2 0.1-0.2 5.6-12.4-4.3-22.8-4.3-22.8l-27.8-27.6-10.5 10.9 21.8 22.2c10.4 10.4 3.4 16 3.4 16-6.6 7.8-14.4 0.3-14.4 0.3l-10.8 11.2c9.9 9.1 18.5 9.7 25.3 6.9 0.9 7.5 7.3 13.3 15 13.3 8.4 0 15.2-6.8 15.2-15.2 0-7.6-5.6-13.9-13-15" fill="#EE4035"/>
										<path d="m-28.3 422.8l-22.2 21.8c-10.4 10.4-16 3.4-16 3.4-7.8-6.6-0.3-14.4-0.3-14.4l-11.2-10.8c-9.1 9.9-9.7 18.5-6.9 25.3-7.5 0.9-13.3 7.3-13.3 15 0 8.4 6.8 15.2 15.2 15.2 7.6 0 14-5.7 15-13 0.1 0.1 0.2 0.1 0.2 0.1 12.4 5.6 22.8-4.3 22.8-4.3l27.6-27.8-10.9-10.5" fill="#4F91CD"/>
										<path d="m-64.4 410.9c-10.4-10.4-3.4-16-3.4-16 6.6-7.8 14.4-0.3 14.4-0.3l10.8-11.2c-9.9-9.1-18.5-9.7-25.3-6.9-0.9-7.5-7.3-13.3-15-13.3-8.4 0-15.2 6.8-15.2 15.2 0 7.6 5.7 14 13 15-0.1 0.1-0.1 0.2-0.1 0.2-5.6 12.4 4.3 22.8 4.3 22.8l27.8 27.6 10.5-10.9-21.8-22.2" fill="#7AC043"/>
										</svg>
									+e.title Joomla
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 346.5 355.9 130 130" version="1.1" viewBox="346.5 355.9 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<linearGradient id="a" x1="-81.036" x2="-81.036" y1="837.3" y2="837.99" gradientTransform="matrix(512 0 0 -99.536 41902 83788)" gradientUnits="userSpaceOnUse">
										<stop stop-color="#04B6F0" offset="0"/>
										<stop stop-color="#3ECAF0" offset="1"/>
										</linearGradient>
										<path d="m471.2 403.7c0-5-9.3-7.3-33.4-7.3-56.4 0-70.8-2.4-86.1-18.5 6.4 9.7 10 27.8 69.6 26.9 62.2-1 24.3 16 13.2 35.3 20-17.8 36.7-29.5 36.7-36.4zm-79.3 51.7c0 4.7-3.8 8.5-8.5 8.5s-8.5-3.8-8.5-8.5 3.8-8.5 8.5-8.5c4.7-0.1 8.5 3.7 8.5 8.5zm38.9 0c0 4.7-3.8 8.5-8.5 8.5s-8.5-3.8-8.5-8.5 3.8-8.5 8.5-8.5c4.7-0.1 8.5 3.7 8.5 8.5z" fill="url(#a)"/>
										</svg>
									+e.title OpenCart
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new -106 355.9 130 130" version="1.1" viewBox="-106 355.9 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="m-1.6 384.3c-0.1-0.6-0.6-0.9-1-1-0.4 0-9.7-0.7-9.7-0.7s-6.4-6.4-7.1-7.1-2.1-0.5-2.6-0.3c-0.1 0-1.4 0.4-3.6 1.1-2.1-6.2-5.9-11.8-12.6-11.8h-0.6c-1.9-2.5-4.2-3.6-6.3-3.6-15.5 0-22.9 19.3-25.2 29.2-6 1.9-10.3 3.2-10.8 3.4-3.4 1.1-3.5 1.2-3.9 4.3-0.3 2.4-9.1 70.3-9.1 70.3l68.4 12.8 37.1-8c0.1 0-12.9-88-13-88.6zm-27.8-6.8c-1.7 0.5-3.7 1.1-5.8 1.8v-1.2c0-3.8-0.5-6.9-1.4-9.4 3.5 0.4 5.8 4.3 7.2 8.8zm-11.4-8.1c1 2.4 1.6 5.8 1.6 10.4v0.7c-3.8 1.2-7.9 2.4-12 3.7 2.3-8.9 6.6-13.2 10.4-14.8zm-4.6-4.3c0.7 0 1.3 0.2 2 0.7-5 2.3-10.3 8.2-12.5 20-3.3 1-6.5 2-9.5 2.9 2.7-9 8.9-23.6 20-23.6z" fill="#95BF46"/>
										<path d="m-2.6 383.3c-0.4 0-9.7-0.7-9.7-0.7s-6.4-6.4-7.1-7.1c-0.3-0.3-0.6-0.4-1-0.5l-5.2 105.8 37.1-8s-13-88-13.1-88.6c-0.1-0.5-0.6-0.9-1-0.9" fill="#5E8E3E"/>
										<path class="svg-nochange" d="m-38.1 403.8l-4.6 13.6s-4-2.1-8.9-2.1c-7.2 0-7.6 4.5-7.6 5.7 0 6.2 16.2 8.6 16.2 23.1 0 11.4-7.3 18.8-17.1 18.8-11.7 0-17.8-7.3-17.8-7.3l3.1-10.4s6.2 5.3 11.4 5.3c3.4 0 4.8-2.7 4.8-4.6 0-8.1-13.3-8.5-13.3-21.8 0-11.2 8-22.1 24.3-22.1 6.4 0 9.5 1.8 9.5 1.8" fill="#fff"/>
										</svg>
									+e.title Shopify
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 232.6 355.9 130 130" version="1.1" viewBox="232.6 355.9 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="m346 456.8c0-0.1-0.1 0 0 0-4.6 4.8-11 6.7-14.7 5.2-2.4-1-2.9-4-1.1-15 3.4-19.6 4.1-29.9-1.3-35.9-5.4-5.9-19.6-2.8-26.6-0.3-1.5 0.6-3.3 1.5-5.2 2.7-6.9 4.2-14.9 10.9-14.9 10.9s-0.1-1.4 0.5-4.1c1.6-7.2-4.3-13.6-7.9-14.1s-12 4.9-17.9 10.6c-2.4 2.3-6.1 5.6-7.1 7.4-1.1 1.8-1.3 2.9-0.6 3.9 0.9 1.3 3.8 0.3 7-1.4 3.7-1.9 5.6-1 5.8 3.3 0.2 4.8-0.9 13.1-2 17.9-1.5 7-5.3 18.4 0.2 26.1 5.5 7.8 21 6 21 6s-3.9-12.6 0.9-28.2c3.6-11.6 8.5-18.9 15-21.7 2.2-0.9 4.6-1.4 7.2-1.2 11.1 0.6-8.7 44.8 3.7 50.1 14.5 6.2 26.9-3.6 35.2-12.1 3-3.1 4.2-6.8 2.8-10.1zm-77.8-60.7c6.4-3.1 12.3-7.6 18.5-10.6 5.3-2.6 7.6-3.6 10.4-3.1 2 0.3 4.4 1.3 8.4 3 6 2.5 10.5 4.9 16.5 7.9 10.1 5 11.5 2.7 15.2-4.1 3.6-6.6 3.8-9.4-5.7-13.7-9.5-4.2-18-7.6-27.6-11.7-3.3-1.4-5.2-2.3-6.7-2.7-2.3-0.5-4 0.3-8.8 2.7-8.3 4.2-20.6 10.9-28 15.1-6.7 3.8-6.8 5-3.5 11.4 3.5 6.8 3 9.8 11.3 5.8" fill="#0A5189"/>
										</svg>
									+e.title Nethouse
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										+e.active.unisender
										+e.no-active.unisender-no-active
									+e.title Unisender
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										+e.active.mailchimp
										+e.no-active.mailchimp-no-active
									+e.title Mailchimp
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 0 0 130 130" version="1.1" viewBox="0 0 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path class="svg-alernative" d="m124.6 112.8c0 5.6-4.6 10.2-10.2 10.2h-95.6c-5.6 0-10.2-4.6-10.2-10.2v-95.6c0-5.6 4.6-10.2 10.2-10.2h95.5c5.6 0 10.2 4.6 10.2 10.2v95.6z" fill="#F6981C"/>
										<path d="m8.6 85v27.7c0 5.6 4.6 10.2 10.2 10.2h95.5c5.6 0 10.2-4.6 10.2-10.2l0.5-85.7-70.9 55.5-15.6-15.5s-21.5 10.2-29.9 18z" fill="#F05620"/>
										<path class="svg-true-color" d="M125,11.7L67.1,69.6L41,43.5L5.3,79.2L5,105.4l49-49c0,15.5,0.1,26.1,0.1,26.1l13,13L125,37.6V11.7z" fill="#fff"/>
										</svg>
									+e.title Google<br /> Analics
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 232.6 355.9 130 130" version="1.1" viewBox="232.6 355.9 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path d="m297.6 360.9c-4.5 0-8.8 0.5-13 1.5v58.6c0 7.2 5.8 13 13 13s13-5.9 13-13c0-6.9-5.4-12.5-12.2-13v-10.4c12.5 0.5 22.6 10.8 22.6 23.4 0 12.9-10.5 23.5-23.4 23.5s-23.5-10.6-23.5-23.5v-55.3c-1.5 0.6-2.9 1.3-4.3 2.1v53.2c0 15.3 12.5 27.8 27.8 27.8s27.8-12.5 27.8-27.8c0-15-12-27.3-26.9-27.8v-10.4c20.7 0.5 37.4 17.4 37.4 38.2 0 21.1-17.2 38.2-38.2 38.2-21.1 0-38.3-17.2-38.3-38.2v-46.3c-13.3 11-21.8 27.7-21.8 46.3 0 33.1 26.9 60 60 60s60-26.9 60-60c0-33.2-26.8-60.1-60-60.1z" fill="#C92433"/>
										</svg>
									+e.title 1C-Bitrix
							+e.LI.item
								a(href="#" target="_blank")
									+e.image
										<svg enable-background="new 0 0 130 130" version="1.1" viewBox="0 0 130 130" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
										<path fill="#c41329" d="m64.6 6.1c11.2-0.3 17 1.7 17 1.7l5.9 9.8-9.9 8s-15.2-4.1-29.8 1.9c-13.8 5.7-24.4 16.8-23.1 35.4-0.5-2.3 0 0-1.2-4.9-2.5-10.2 1.6-22.6 1.5-22.2 4.7-11.8 12.1-20.7 23.5-25.7 7.7-3.4 14.7-3.9 16.1-4z" clip-rule="evenodd" />
										<path fill="#c41329" d="m60.5 41.3c4.5-0.1 9 0.4 13 1.5 6.4 1.6 12.6 4.9 17.6 9.3 0 0-10.9 10.8-11.7 11.6-1-0.8-2.3-1.5-3.5-2.2-4.7-2.9-10.8-4.1-16.3-3.7-2.7 0.2-5.7 0.8-7.8 2.6-1.1 1-1.9 2.2-2.3 3.6-0.6 2.3 0.5 4.8 2.4 6.1 1.7 1.2 3.7 1.7 5.7 2 2.4 0.4 4.9 0.6 7.4 0.8 5.3 0.6 10.8 2.3 15.7 4.5 4 1.8 7.5 4.4 10.2 7.9 1.3 1.8 2.4 3.7 3.2 5.7 1.4 3.4 2.4 10.1 1.2 14.8-2.5 9.9-8.9 15-18.2 18-11.3 3.7-24 2.5-34.6-2.6-2.5-1.2-4.9-2.6-7.3-4.2-1.2-0.8-2.3-1.7-3.4-2.5-0.9-0.6-2.2-1.2-2.6-2.3 0.7-0.4 1.2-1.2 1.7-1.7l4.1-4.1 3.1-3.1c0.9-0.9 2.1-1.7 2.8-2.8 0.8 0.4 1.3 1 2 1.5 2.1 1.4 4.4 2.9 6.8 4 2.5 1.1 5.2 1.9 8 2.7 4.4 1.2 9.2 1.1 13.6-0.1 2.6-0.7 5.6-2.2 7.2-4.5 1.4-1.9 1.4-4.3 0.5-6.4-1.3-3.1-4.3-4.7-7.3-5.6-4.6-1.4-9.3-1.7-13.9-2.8-4.2-1-8.5-1.9-12.3-3.9-0.6-0.3-1.1-0.6-1.7-1-4.3-2.7-7.8-6.8-9.5-12.1-3.2-9.8 1.7-21.3 10.2-26.7 4.6-2.8 10.3-4.1 16-4.3z" clip-rule="evenodd"/>
										</svg>
									+e.title InSales
						+e.P.get-api ...and <a href="https://giftd.tech/" target="_blank"><strong>Giftd API</strong></a> for anything else.
					+e.item.benefits__last-item
						+e.icon.icon-blockchain
						h3 Cutting Edge Blockchain Technology
						+b.UL.technology
							+e.LI.item
								+e.logo.raiden
								+e.H4.title Lightning Network and Raiden Network
								+e.P.text super technologies designed to bring the speed and efficiency of blockchain transactions to the new level and reduce the cost to almost zero. We will use them as soon as their production versions are deployed and tested.
							+e.LI.item
								+e.logo.bancor
								+e.H4.title Bancor Liquidity Contract
								+e.P.text a solution that will provide the immediate liquidity of BitRewards tokens, which will always be exchangeable into ETH with the best possible spread.

