.value {
	background-image: url(../images/value-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative;
	padding-bottom: 14rem;
	z-index: 4;
	@media (max-width: $tablet) {
		padding-bottom: 9rem;
	}
	.second-title {
		padding-top: 20.8rem;
		@media (max-width: $tablet) {
			padding-top: 15rem;
			padding-bottom: 4.8rem;
		}
	}
	.third-title {
		padding-top: 19rem;
		@media (max-width: $tablet) {
			padding-top: 16rem;
		}
	}
	&__rect {
		position: absolute;
		height: 5rem;
		width: 100%;
		top: -5rem;
		left: 0;
		background-color: $dark-slate-blue-two;
	}
	h2 {
		padding: 12rem 0 4.8rem 0;
		@media (max-width: $tablet) {
			padding: 10.5rem 0 6rem 0;
		}
	}
	&__text {
		padding-top: 2.6rem;
		@media (max-width: $tablet) {
			padding-top: 4rem;
		}
		p {
			font-size: 2rem;
			font-weight: 300;
			color: $white;
			margin-bottom: 1.8rem;
			@media (max-width: $tablet) {
				line-height: 2.4rem;
				margin-bottom: 2.8rem;
			}
		}
		blockquote {
			margin-top: 3.5rem;
			font-size: 3.2rem;
			font-weight: 300;
			color: $white;
			padding: 0 1rem 0 1.5rem;
			border-color: $orangish;
			line-height: 3.8rem;
			strong {
				font-weight: 600;
			}
		}
		blockquote.small {
			font-size: 2.8rem;
			line-height: 3.4rem;
		}
	}
	&__value-wrapper {
		display: flex;
		float: left;
		padding-bottom: 9rem;
		@media (max-width: $tablet) {
			float: none;
			flex-wrap: wrap;
		}
	}
	&__value-wrapper--reverse {
		flex-direction: row-reverse;
	}
	&__image {
		max-width: 100%;
	}
}
