mixin value()
	+b.SECTION.value
		+e.rect
		.container
			.row
				.col-md-12
					h2.text-center Value for <strong>merchants.</strong>
				+e.value-wrapper.clearfix
					.col-md-6
						+e.IMG.image(src="images/merchants-pic.png" alt="Merchant")
					.col-md-6
						+e.text
							p Merchants get cutting-edge rewards and loyalty solutions for free (we now sell them for $100-$1500 per month).
							p It’s a great new way to reward current and attract new customers!
							blockquote Just imagine how you would love a store that gives <strong>immediate rebates in cryptocurrency!</strong>
				.col-md-12
					h2.text-center.second-title Value for <strong>customers.</strong>
				+e.value-wrapper--reverse.clearfix
					.col-md-6
						+e.IMG.image(src="images/customers.png" alt="Customers")
					.col-md-6
						+e.text
							p A simple act of shopping enables tapping into the cryptocurrency world effortlessly and get liquid currency instead of points.
							blockquote Just imagine millions of shoppers who receive cryptocurrency that they can <strong>redeem with any merchant at BitRewards platform!</strong>
				.col-md-12
					h2.text-center.third-title What matters to our <strong>team.</strong>
				+e.value-wrapper.clearfix
					.col-md-6
						+e.IMG.image(src="images/team.png" alt="Customers")
					.col-md-6
						+e.text
							p We are driven to offer cutting edge digital loyalty products to small and medium merchants for free.
							blockquote.small We create a movement for new value in customers’ loyalty, and will share with the community our expertise and open our tested solutions for the retailers in order to <strong>achieve the global adoption of the platform.</strong>
