.leadership {
	transform: skewY(2.5deg);
	padding: 4.6rem 0 9.8rem 0;
	background-color: $member-bg;
	position: relative;
	z-index: 6;
	@media (max-width: $tablet) {
		padding-bottom: 13rem;
	}
	.container {
		@media (max-width: $tablet) {
			padding: 0;
			position: relative;
			overflow: hidden;
		}
	}
	h2 {
		margin-bottom: 5.5rem;
		@media (max-width: $tablet) {
			margin: 9.5rem 10% 6.5rem 10%;
		}
	}
	.rectangle {
		position: absolute;
		background-color: $member-bg;
		height: 8rem;
		width: 100%;
		top: -7.5rem;
		left: 0;
	}
	.container {
		transform: skewY(-2.5deg);
	}
	&__leadership-container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		@media (max-width: $tablet) {
			display: block;
		}
		.slick-slide {
			@media (max-width: $tablet) {
				padding: 0 1.5rem;
			}
		}
	}
	&__title {
		margin: 7rem 0;
	}
	&__persone {
		margin: 0 1.5rem 2.5rem 1.5rem;
		width: calc(25% - 3rem);
		height: 34.8rem;
		box-shadow: 0 18px 100px -35px rgba(0, 0, 0, 0.75);
		position: relative;
		overflow: hidden;
		@media (max-width: $tablet) {
			box-shadow: 2px -1px 100px -20px rgba(0, 0, 0, 0.75);
		}
		&:first-child {
			padding-left: 0;
		}
		&:nth-child(4n+4) {
			padding-right: 0;
		}
		&:nth-child(5n+5) {
			padding-left: 0;
		}
	}
	&__wrapper {
		height: 100%;
		text-align: center;
		overflow: hidden;
		position: relative;
		z-index: 1;
		&:hover {
			.leadership__main-info {
				transform: translateX(-100%);
			}
			.leadership__description {
				transform: translateX(0);
			}
		}
		&:before {
			content: '';
			position: absolute;
			background: url(../images/dots.png);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}
	&__main-info {
		transition: transform 0.3s ease-in;
	}
	&__description {
		height: 100%;
		padding: 2rem 1.5rem 0 2.3rem;
		position: absolute;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
	&__text-wrapper {
		height: calc(100% - 6rem);
		overflow: auto;
	}
	&__about {
		font-size: 1.6rem;
		line-height: 1.8rem;
		text-align: left;
		color: $white-80;
		position: relative;
		padding-right: 1rem;
		z-index: 5;
	}
	&__social {
		position: absolute;
		font-size: 1.8rem;
		color: $white-40;
		bottom: 1.2rem;
		right: 1.5rem;
		font-weight: normal;
		transition: color 0.4s;
		&:hover {
			color: $white;
		}
	}
	&__avatar {
		margin: 5.5rem auto 1.6rem auto;
	}
	&__name {
		font-size: 2rem;
		color: $white;
		margin-bottom: 0;
	}
	&__position {
		font-size: 1.6rem;
		color: $white-40;
		margin: 0 2rem 0 2rem;
	}
}

/* Background */

.egorov {
	background-image: url(../images/ae.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.nevidimov {
	background-image: url(../images/ah.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.andrey-kladov {
	background-image: url(../images/andrey-kladov.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ma {
	background-image: url(../images/ma.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.vm {
	background-image: url(../images/vm.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ca {
	background-image: url(../images/ca.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.is {
	background-image: url(../images/is.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ds {
	background-image: url(../images/ds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Avatar team */

.egorov-avatar {
	background-image: url($ae_avatar_image);
	background-position: $ae_avatar_offset_x $ae_avatar_offset_y;
	width: $ae_avatar_width;
	height: $ae_avatar_height;
}

.nevidimov-avatar {
	background-image: url($an_image);
	background-position: $an_offset_x $an_offset_y;
	width: $an_width;
	height: $an_height;
	margin-top: 4.4rem;
}

.andrey-kladov-avatar {
	background-image: url($ak_image);
	background-position: $ak_offset_x $an_offset_y;
	width: $ak_width;
	height: $ak_height;
}

.ma-avatar {
	background-image: url($ma_avatar_image);
	background-position: $ma_avatar_offset_x $ma_avatar_offset_y;
	width: $ma_avatar_width;
	height: $ma_avatar_height;
}

.vm-avatar {
	background-image: url($vm_avatar_image);
	background-position: $vm_avatar_offset_x $vm_avatar_offset_y;
	width: $vm_avatar_width;
	height: $vm_avatar_height;
}

.ca-avatar {
	background-image: url($sa_avatar_image);
	background-position: $sa_avatar_offset_x $sa_avatar_offset_y;
	width: $sa_avatar_width;
	height: $sa_avatar_height;
}

.is-avatar {
	background-image: url($ak-avatar_image);
	background-position: $ak-avatar_offset_x $ak-avatar_offset_y;
	width: $ak-avatar_width;
	height: $ak-avatar_height;
}

.ds-avatar {
	background-image: url($ds_avatar_image);
	background-position: $ds_avatar_offset_x $ds_avatar_offset_y;
	width: $ds_avatar_width;
	height: $ds_avatar_height;
}
