mixin leadership()
	+b.leadership
		.rectangle
		.container
			.row
				.col-md-12
					+e.H2.title.text-center Team leadership
						strong .
					+e.UL.leadership-container(id="leadership")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develops relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="#" target="_blank")
