mixin leadership()
	+b.leadership
		.rectangle
		.container
			.row
				.col-md-12
					+e.H2.title.text-center Team leadership
						strong .
					+e.UL.leadership-container(id="leadership")
						+e.LI.persone
							+e.wrapper.egorov
								+e.main-info
									+e.dots
									+e.avatar.egorov-avatar
									+e.P.name Alexander Egorov
									+e.P.position CEO
								+e.description
									+e.text-wrapper
										+e.P.about After over 5 years in FinTech, and 15 years in financial services, Alex founded GIFTD, an e-commerce loyalty and rewards solutions company in 2012. He has successfully launched and grown the company to create a state of the art suite of tools for online stores, which helped thousands of them to service their users better and become more competitive. Alex has an outstanding talent to organize complex processes and manage teams of sharp and bright people, who share his ideas and implement them in useful and beautiful IT products. Profound financial knowledge and IT experience helps Alex stay at the forefront of FinTech and deeply understand how the economy and financial ecosystem will bend towards the blockchain disruptive forces.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/alexanderegorovgiftd/" target="_blank")
						+e.LI.persone
							+e.wrapper.nevidimov
								+e.main-info
									+e.dots
									+e.avatar.nevidimov-avatar
									+e.P.name Alexander Nevidimov
									+e.P.position CTO, Blockchain Architecture
								+e.description
									+e.text-wrapper
										+e.P.about Olympic Programming (5 years), winner of the ACM-ICPC/IOI championships, lead developer of the Bitcoin mining pool 50btc.com. He has been CTO of GIFTD for four years, and Alexander has more than 12-years experience in backend development (3 years full stack), leading diverse development teams for more than six years. Equipped with an innovation-focused mind, Alexander started testing distributed ledgers since 2015, and acts as a tech radar screen for the BitRewards Network, finding and applying various Blockchain services and solutions to its goals aiming and succeeding at using accomplished and approved by IT community technologies. As an Agile practitioner, Alexander is excellent at arranging technical development teams both at the startup and mature level. He is also studying Machine learning, and as an advanced Big Data expert, Alexander implemented machine learning algorithms into the GIFTD rewards and loyalty tools for e-commerce (recommendation 7 system, processing hundreds of thousands of items per day). He created from scratch proprietary data analysis system, which processes and reports on more than 200 million data points per month.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/alexander-nevidimov-78872a57/" target="_blank")
						+e.LI.persone
							+e.wrapper.andrey-kladov
								+e.main-info
									+e.dots
									+e.avatar.andrey-kladov-avatar
									+e.P.name Andrey Kladov
									+e.P.position Mobile Architecture
								+e.description
									+e.text-wrapper
										+e.P.about The mobile mastermind behind dozens of B2B and B2C apps, Andrey boasts excellent mobile development skills using Cocoa, Cocoa-Touch, Objective-C, Swift-Language, Java and Android SDK. With over 8-year mobile development experience, he participated in several highly complex software products now enjoyed by millions of users globally. Inspired by the most technically sophisticated projects, Andrey always found himself at the forefront of the cutting edge technologies, starting to apply Swift coding language in production right after its presentation at WWDC14. Andrey presented Ultimate Guitar mobile app after they were selected among a small group of 24 projects to participate in Apple’s Earth Day’16 in Cupertino, California.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/andrey-kladov-b315603b/" target="_blank")
						+e.LI.persone
							+e.wrapper.ma
								+e.main-info
									+e.dots
									+e.avatar.ma-avatar
									+e.P.name Marat Arslanov
									+e.P.position CMO
								+e.description
									+e.text-wrapper
										+e.P.about Before joining the team, Marat was CEO of a digital marketing agency, designing digital marketing campaigns for large and small companies. Marat is extremely passionate about data-driven marketing and behavioural analytics. These interests perfectly suit the goals of the rewards and loyalty SaaS tools, Marat leads the digital marketing for GIFTD. Being a strong believer in big data solutions and machine learning technologies, he is an organic match for the engineer's team, setting the concrete goals and aspiring to achieve measurable results. Marat is also exemplary at delivering uncompromising quality and precision in both internal tasks’ setting and solution and customers’ requirements, which is utterly conducive in setting strategic goals for product development.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/arslanovmarat/" target="_blank")
						+e.LI.persone
							+e.wrapper.vm
								+e.main-info
									+e.dots
									+e.avatar.vm-avatar
									+e.P.name Vitaliy Makarenko
									+e.P.position COO
								+e.description
									+e.text-wrapper
										+e.P.about Vitaliy has vast experience in corporate processes management and sales, which he gained working on strategic industrial projects with Fortune500 companies.After more than seven years selling of software B2B products, Vitaliy honed his skills in market analysis and strategy, personnel management, customer development and customer success, which allowed him to accomplish several prominent projects in highly competitive IT solutions market for a total amount of more than $90 million.
						+e.LI.persone
							+e.wrapper.ca
								+e.main-info
									+e.dots
									+e.avatar.ca-avatar
									+e.P.name Sergey Alisov
									+e.P.position Head of Design
								+e.description
									+e.text-wrapper
										+e.P.about Sergey has an amazing ability to turn product concepts into a beautiful reality that resonate with end-users. An amazingly productive designer with over ten years in mobile and web UX and UI, he leads the design and features invention and implementation of apps that are used by more than 10 million users for the major players in airlines, communication, fashion and sports. Sergey headed the design and art for GIFTD and participated in the creation of numerous e-commerce solutions from scratch.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/segey-alisov-a3908a9b/" target="_blank")
						+e.LI.persone
							+e.wrapper.is
								+e.main-info
									+e.dots
									+e.avatar.is-avatar
									+e.P.name Ilya Starovoitov
									+e.P.position Business Development
								+e.description
									+e.text-wrapper
										+e.P.about Ilya is a charismatic Sales team leader with broad international experience in both software and hardware niches who develop relationships with partners and key accounts (Leroy Merlin, Kenwood, GoPro, Ikea, Hoff and more than 300 SMB clients). Having acquired acute understanding how to shape value proposition and make money for customers during over 12 years in sales, Ilya invents winning scenarios and trains sales team members to increase the efficiency of the product implementation processes and customer success. Highly skilled with CRM systems and showing excellent competence in human resource management and team-building, Ilya drives the team to accomplish the most ambitious business goals.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/ilya-starovoitov-5b504957/" target="_blank")
						+e.LI.persone
							+e.wrapper.ds
								+e.main-info
									+e.dots
									+e.avatar.ds-avatar
									+e.P.name Dmitry Semenov
									+e.P.position QA engineer
								+e.description
									+e.text-wrapper
										+e.P.about More than 5 years in QA. Worked on more than 15 high-load mobile and web projects.
									+e.A.social.icon-linkedin-simple(href="https://www.linkedin.com/in/dmitrii-semenov-a6754aa9/" target="_blank")
