.footer {
	background-color: $dark-indigo-three;
	padding: 2.6rem 0 3rem 0;
	@media (max-width: $tablet) {
		padding: 5.6rem 0 6rem 0;
	}
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		margin-bottom: 6rem;
		@media (max-width: $tablet) {
			width: 100%;
			max-width: 33.9rem;
			margin: 0 auto;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	&__navigation-item {
		@media (max-width: $tablet) {
			margin-bottom: 2.2rem;
		}
		a {
			font-size: 1.7rem;
			padding: 0 1rem;
			color: $dark;
			transition: color .4s;
			&:hover,
			&:active {
				color: $pastel-orange;
			}
		}
	}
	.social__social-item a {
		font-size: 5rem;
		color: $dark;
	}
	&__copyright {
		padding-top: 3rem;
		font-size: 1.2rem;
		text-align: center;
		color: $dark;
		@media (max-width: $tablet) {
			padding-top: 1rem;
		}
	}
	.social {
		@media (max-width: $tablet) {
			margin-top: 2rem;
		}
	}
}
