.roadmap {
	background-image: linear-gradient(to bottom, $dark-blue-grey, $dark-indigo-two);
	padding: 15rem 0 10rem 0;
	position: relative;
	margin-top: -5rem;
	overflow: hidden;
	.cornet-left {
		border-top: 11.5rem solid $dark-indigo-two;
	}
	&__image-top {
		position: absolute;
		top: -68%;
		left: 50%;
		transform: translateX(-50%);
	}
	&__image-bottom {
		position: absolute;
		bottom: -60%;
		left: 50%;
		transform: translateX(-50%);
	}
	&__image-bottom {

	}
	h2 {
		margin: 3.5rem 0 8.8rem 0;
	}
	&__slide-nav {
		display: flex;
		justify-content: center;
		margin: 8rem 0 0 0;
		div {
			margin: 0 1.5rem;
			font-size: 4.6rem;
			color: $twilight;
			cursor: pointer;
			transition: color 0.4s;
			&:hover,
			&:active {
				color: $dusty-orange;
			}
		}
	}
}

.road-map-slider {
	.slick-slide {
		padding: 7rem 1.5rem 4rem 1.5rem;
	}
	&__item {
		box-shadow: 2px 13px 34px 0 $midnight;
	}
	&__line {
		position: absolute;
		top: -5rem;
		left: 0;
		width: calc(100% + 3rem);
		background-color: $twilight;
		height: 0.2rem;
		&:before {
			content: '';
			position: absolute;
			border-radius: 50%;
			width: 1.4rem;
			height: 1.4rem;
			background-color: $twilight;
			left: -0.7rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__line--last {
		background-image: linear-gradient(to right, $twilight, $twilight-0);
		width: calc(100% + 1.5rem);
	}
	&__triagle {
		width: 0;
		height: 0;
		border-bottom: 2.5rem solid $dark-slate-blue-three;
		border-right: 2.5rem solid transparent;
		position: absolute;
		top: -2.5rem;
		left: 0;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: -2.5rem;
			left: 0;
			width: 2.5rem;
			height: 2.5rem;
			background-image: url(../images/dots.png);
		}
		&:after {
			content: '';
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			border-top: 2.5rem solid $triagle-bg;
			border-left: 2.5rem solid transparent;
			z-index: 2;
		}
	}
	&__wrapper {
		padding: 2.5rem;
		position: relative;
		background-color: $dark-slate-blue-three;
		z-index: 1;
		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: url(../images/dots.png);
		}
	}
	&__stage {
		font-size: 1.8rem;
		color: $dusty-orange-50;
	}
	&__status {
		color: $dusty-orange;
	}
	&__date {
		font-size: 2.2rem;
		font-weight: 600;
		color: $white-50;
		padding: 1.8rem 0 0.2rem 0;
	}
	&__text {
		font-size: 1.4rem;
		color: $white-50;
		padding-left: 2rem;
	}
	&__item--present {
		.road-map-slider__text,
		.road-map-slider__date {
			color: $white;
		}
		.road-map-slider__stage {
			color: $dusty-orange;
		}
		.road-map-slider__wrapper {
			background-color: $dark-slate-blue;
		}
		.road-map-slider__line {
			background-color: $coral-two;
			&:before {
				background-color: $coral-two;
			}
		}
		.road-map-slider__triagle {
			width: 0;
			height: 0;
			border-bottom: 2.5rem solid $dark-slate-blue;
			border-right: 2.5rem solid transparent;
			position: absolute;
			top: -2.5rem;
			left: 0;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				bottom: -2.5rem;
				left: 0;
				width: 2.5rem;
				height: 2.5rem;
				background-image: url(../images/dots.png);
			}
			&:after {
				content: '';
				position: absolute;
				width: 2.5rem;
				height: 2.5rem;
				border-top: 2.5rem solid $triagle-bg;
				border-left: 2.5rem solid transparent;
				z-index: 2;
			}
		}
	}
	&__item--today {
		.road-map-slider__text,
		.road-map-slider__date {
			color: $white
		}
		.road-map-slider__stage {
			color: $dusty-orange;
		}
		.road-map-slider__wrapper {
			background-color: $dark-slate-blue;
		}
		.road-map-slider__line {
			&:before {
				width: 2.8rem;
				height: 2.8rem;
				background-color: $dusty-orange;
			}
		}
		.road-map-slider__wrapper {
			background-color: $dark-slate-blue-four;
		}
		.road-map-slider__triagle {
			width: 0;
			height: 0;
			border-bottom: 2.5rem solid $dark-slate-blue-four;
			border-right: 2.5rem solid transparent;
			position: absolute;
			top: -2.5rem;
			left: 0;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				bottom: -2.5rem;
				left: 0;
				width: 2.5rem;
				height: 2.5rem;
				background-image: url(../images/dots.png);
			}
			&:after {
				content: '';
				position: absolute;
				width: 2.5rem;
				height: 2.5rem;
				border-top: 2.5rem solid $triagle-bg;
				border-left: 2.5rem solid transparent;
				z-index: 2;
			}
		}
	}
}
